body
{
    padding-top: 70px;
}

.navbar-default .navbar-brand
{
    font-family: Rancho, sans-serif;
    color: #900;
    font-size: 36px;
}

.navbar-nav > li > a
{
    font-size: 1.4em;
}

.navbar-nav > li.paypal > a
{
    font-size: 1em;
}
