<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">tomhv<small>.uk</small></a>
        </div><!-- .navbar-header -->
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://github.com/tomhv" title="github.com/tomhv">
                        <i class="fa fa-fw fa-github"></i>
                        <!-- small class="hidden-md hidden-lg hidden-xl">github.com/tomhv</small> -->
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/tomhvuk" title="twitter.com/tomhvuk">
                        <i class="fa fa-fw fa-twitter"></i>
                        <!-- <small class="hidden-md hidden-lg hidden-xl">twitter.com/tomhvuk</small> -->
                    </a>
                </li>
                <li class="paypal">
                    <a href="https://www.paypal.me/tomhv" title="paypal.me/tomhv">
                        <i class="fa fa-fw fa-paypal"></i>
                        <!-- <small class="hidden-md hidden-lg hidden-xl">paypal.me/tomhv</small> -->
                    </a>
                </li>
            </ul><!-- .navbar-right -->
        </div><!-- .navbar-collapse -->
    </div><!-- .container -->
</nav>
