---
layout: 
title: ToDo &#171; Angular
---

<!DOCTYPE html>
<html lang="en" ng-app>
    {% include head.html %}
    <body>
        {% include top_nav.html %}

        <div class="container">
            <h1>Todo List</h1>
            <div ng-controller="TodoCtrl">
                <p>Total items: {{ totalTodos }}</p>
            </div>
        </div>
        {% include javascripts.html %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js" type="text/javascript" />
        <script src="/js/angular/todo.js" type="text/javascript" />
    </body>
</html>
